.ql-editor img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    transition: opacity 0.2s;
}

.ql-editor img:hover {
    opacity: 0.8;
}

:host ::ng-deep {
    p-editor {
        width: inherit !important;
    }
}
