<p-toolbar styleClass="mb-4">
    <ng-template #start>
        <p-button severity="danger" label="Delete" [badge]="selectedRecords.length" icon="pi pi-trash"
            (onClick)="deleteSelectedRecords()" [disabled]="!selectedRecords || !selectedRecords.length" />
    </ng-template>
    <ng-template #end>
        <p-button icon="pi pi-plus" label="Create new" class="ml-2" (onClick)="showDialog(undefined)" />
    </ng-template>
</p-toolbar>
<p-card>
    <p-table [value]="records" [paginator]="true" [rows]="5" [(selection)]="selectedRecords" [rowHover]="true"
        dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true">
        <ng-template #header>
            <tr>
                <th></th>
                <th>#</th>
                <th>Role</th>
                <th>Company</th>
                <th>Duration</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template #body let-record>
            <tr>
                <td style="width: 3rem">
                    <p-tableCheckbox [value]="record" />
                </td>
                <td>{{ record.id }}</td>
                <td>{{ record.role }}</td>
                <td>{{ record.company }}</td>
                <td>{{ record.duration }}</td>
                <td>
                    <p-button icon="pi pi-spin pi-cog" (onClick)="showDialog(record)" aria-label="detail" />
                </td>
            </tr>
        </ng-template>
        <p-confirmDialog />
    </p-table>
</p-card>
<p-toast></p-toast>

<p-dialog [header]="isEditMode ? 'Edit history' : 'Create new history'" [modal]="true" [(visible)]="visible"
    [style]="{ width: '40rem' }">
    <span class="text-secondary block mb-4">
        <div class="flex justify-content-center text-xl text-primary">
            Employment history information
        </div>
    </span>
    <div class="flex flex-column align-items-center gap-3 mb-3 w-full">
        <p-floatlabel variant="on" class="w-full">
            <label for="on_label">Role</label>
            <input class="w-full" pInputText id="on_label" [(ngModel)]="currentRecord.role" autocomplete="off" />
        </p-floatlabel>
        <p-floatlabel variant="on" class="w-full">
            <label for="on_label">Company</label>
            <input class="w-full" pInputText id="on_label" [(ngModel)]="currentRecord.company" autocomplete="off" />
        </p-floatlabel>
        <p-floatlabel variant="on" class="w-full">
            <label for="on_label">Description</label>
            <input class="w-full" pInputText id="on_label" [(ngModel)]="currentRecord.description" autocomplete="off" />
        </p-floatlabel>
        <p-floatlabel variant="on" class="w-full">
            <label for="on_label">Duration</label>
            <input class="w-full" pInputText id="on_label" [(ngModel)]="currentRecord.duration" autocomplete="off" />
        </p-floatlabel>
    </div>
    <div class="flex justify-content-end gap-2">
        <p-button label="Cancel" severity="secondary" (click)="visible = false" />
        <p-button label="Save" (click)="save()" />
    </div>
</p-dialog>